body{
    margin:0;
}
#divScoreTable>div{
    display:flex;
}
#divScoreTable>div>div{
    width:40px;
    text-align: center;
}
#divScoreTable>div>span{
    width:50px;
    text-align:center;
    font:25px verdana;
}
#divScoreTable img{
    width:30px;
    height:30px;
}
#divSelPlayers{
    display:flex;
    width:400px;
    flex-wrap: wrap;align-content:space-between;
    margin-left:12px;
}
#divSelPlayers div{
    height:120px;
    width:120px;
    display:flex;flex-flow:row wrap;
    border:1px solid black;justify-content: space-around;padding:2px;margin:2px;            
}
#divSelPlayers div:hover{
    height:120px;
    width:120px;
    display:flex;flex-flow:row wrap;
    border:1px solid blue;justify-content: space-around;padding:2px;margin:2px;            
}

/* GAMETYPESELECTION */
h1{
    font-size:30px;
    font:Arial;
    margin-left:12px;
    margin-top:12px;
    margin-bottom:0px;
}
#divGameTypeSelection>div{
    display:flex;
}
#divGameTypeSelection>div>div{
    width:200px;
    height:200px;
    border:4px solid black;
    margin:12px;
    cursor:pointer;
}
#divGameTypeSelection>div>div:hover{
    width:200px;
    height:200px;
    border:4px solid blue;
    margin:12px;
    cursor:pointer;
}
